@import '~primereact/resources/themes/saga-blue/theme.css';
@import '~primereact/resources/primereact.min.css';
@import '~primeflex/primeflex.css';

body{
    background-color: rgb(213, 226, 253);
}

.bg-white{
    background-color: white;
}
.wrapper{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}